@import "~normalize.css";
@import "fonts/fonts";

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.app--hidden {
  height: 100vh;
  overflow: hidden;
}

.main {
  padding: 30px 0;
  overflow-x: hidden;

  &__todo-list {
    margin-top: 60px;
  }
}

@media (max-width: 1180px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0 10px;
  }
}

@media (max-width: 500px) {
  .main {
    &__todo-list {
      margin-top: 50px;
    }
  }
}